<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>adapt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>decoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>eval.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>init.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ngram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>trainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>570E04E40D7F5B71007E7BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57219A440B8377600033F495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>576ED83C0AB223D8007F2844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A0BC770ABF1901001825D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A51FEBFF0A02C15800ACE377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A59120000A1278D400D64611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
