/////////////////////////////////////////////////////////////////////////////

//#include "wx/msw/wx.rc"	//Includes WX library default resources 


/////////////////////////////////////////////////////////////////////////////
//
// ICONS
//
Ax                ICON    "res/ax.ico"
Axz				  ICON	  "res/axz.ico"
Axmus			  ICON	  "res/axmus.ico"
Axproj			  ICON	  "res/axproj.ico"
Axtyp			  ICON    "res/axtyp.ico"

/////////////////////////////////////////////////////////////////////////////
//
// BITMAPS
//
//help                    BITMAP  "res/help.bmp"
