/////////////////////////////////////////////////////////////////////////////

#include "wx/msw/wx.rc"	//Includes WX library default resources 


/////////////////////////////////////////////////////////////////////////////
//
// ICONS
//
Ax                ICON    "res/ax.ico"


/////////////////////////////////////////////////////////////////////////////
//
// BITMAPS
//
//help                    BITMAP  "res/help.bmp"
