<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARUSPIX_IMLIB</key>
	<string>/Users/lpugin/libs/imlib3.6_10.6</string>
	<key>ARUSPIX_TORCH</key>
	<string>/Users/lpugin/libs/Torch3_10.6</string>
	<key>ARUSPIX_MEI</key>
	<string>/Users/lpuginl/libs/libmei/build/Debug</string>
	<key>ARUSPIX_WX</key>
	<string>/Users/lpugin/libs/wx2.8.11</string>
	<key>ARUSPIX_WX_VERSION</key>
	<string>2.8</string>
</dict>
</plist>
