<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.png">
        <title>
            {{ page.title }}
        </title>
        
        <!-- Bootstrap core CSS -->
        <!-- V1 http://getbootstrap.com/customize/?id=08fb1a76593851ceb0a6 -->
        <!-- V2 http://getbootstrap.com/customize/?id=a0e97a73a31c8a2fb126 -->
        <!-- V3 http://getbootstrap.com/customize/?id=d3e9b3d0a561bc5ed6f1 -->
        <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="./css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="./css/aruspix.css" rel="stylesheet" type="text/css"><!-- Custom styles for this template -->
        
        <script src="./javascript/jquery.min.js" type="text/javascript">
        </script>
        
        <script src="./javascript/ie-emulation-modes-warning.js" type="text/javascript">
        </script>
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="visible-xs">
                            <img src="./images/aruspix.png"><a href="http://getbootstrap.com/examples/navbar-fixed-top/#"></a></img>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
            				<li {% if page.active == "home" %}class="active"{% endif %}>
            					<a href="{{ site.baseurl }}/index.html">Home</a>
            				</li>
            				<li {% if page.active == "about" %}class="active"{% endif %}>
            					<a href="{{ site.baseurl }}/about.html">About</a>
            				</li>
            				<li {% if page.active == "publications" %}class="active"{% endif %}>
            					<a href="{{ site.baseurl }}/publications.html">Publications</a>
            				</li>
            				<li {% if page.active == "downloads" %}class="active"{% endif %}>
            					<a href="{{ site.baseurl }}/downloads.html">Downloads</a>
            				</li>
                            <!--
                            <li class="dropdown">
                                <a href="http://getbootstrap.com/examples/navbar-fixed-top/#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="http://getbootstrap.com/examples/navbar-fixed-top/#">Action</a>
                                    </li>
                                    <li>
                                        <a href="http://getbootstrap.com/examples/navbar-fixed-top/#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="http://getbootstrap.com/examples/navbar-fixed-top/#">Something else here</a>
                                    </li>
                                    <li class="dropdown-header">Nav header
                                    </li>
                                    <li>
                                        <a href="http://getbootstrap.com/examples/navbar-fixed-top/#">Separated link</a>
                                    </li>
                                    <li>
                                        <a href="http://getbootstrap.com/examples/navbar-fixed-top/#">One more separated link</a>
                                    </li>
                                </ul>
                            </li>
                            -->
                        </ul>
                        <!--
                        <ul class="nav navbar-nav navbar-right">
            				<li {% if page.active == "contact" %}class="active"{% endif %}>
            					<a href="{{ site.baseurl }}/contact.html">Contact</a>
            				</li>
                        </ul>
                        -->
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <div class="container hidden-xs">
                <div id="topbarlogo"></div>
            </div>
        </div>
        
        <div class="hidden-xs" id="logo-padding"></div>
        
        <div class="container">
            {{ content }}
        </div><!-- /container -->

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="./javascript/bootstrap.min.js" type="text/javascript">
        </script><!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="./javascript/ie10-viewport-bug-workaround.js" type="text/javascript">
        </script>
    </body>
</html>
